*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#app .pokemon-info{
  padding: 30px;
}

.pokemon-info .pokemon__property{
  text-transform: capitalize;
}

.pokemon-info .pokemon__stat__bar{
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 12px;
  transition: width .5s;
}

.pokemon__input__container{
  padding-left: 105px;
}

.pokemon__input__container label{
  margin-right: 15px;
  font-size: 16px;
  font-weight: bold;

}

.pokemon__input__container #pokemon-name{
  padding: 10px;
  font-size: 16px;
  margin: 3px;
  font-style: italic;
  border: none;
}

.pokemon__input__container #pokemon-name:focus{
  border: none;
  box-shadow: none;
  outline: none;
}

.pokemon__input__container #pokemon-search-button{
  background-color: rgb(255, 74, 19);
  border: none;
  border-radius: 5px;
  padding: 10px;
  color:white;
  font-weight: bold;
}

#wrapper{
  position: relative;
  width: 200px;
  height: 200px;
}

.wrapper__content{
  color: #FFFFFF;
  font-weight: bold;
  position: relative;
  z-index: 100;
  margin-bottom: 0;
}

.wrapper__content .sprite__pokemon{
  position: absolute;
  top: 399px;
  left: 267px;
  height: 210px;
  width: 345px;
}

.wrapper__content .button__new__pokemon{
  width: 70px;
  height: 70px;
  background-color: #24ff53f1;
  position: absolute;
  top: 153px;
  left: 440px;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  cursor: pointer;

  text-align: center;
  line-height: 70px;
  font-size: 14px;

  -moz-animation:blink normal 2.5s infinite ease-in-out;
  /* Firefox */
  -webkit-animation:blink normal 2.5s infinite ease-in-out;
  /* Webkit */
  -ms-animation:blink normal 2.5s infinite ease-in-out;
  /* IE */
  animation:blink normal 2.5s infinite ease-in-out;
  /* Opera */
}

@keyframes blink {
  0% {
         background-color: rgba(0,255,0,1)
  }
  50% {
         background-color: rgba(0,255,0,0.5)
  }
  100% {
         background-color: rgba(0,255,0,1)
  }
}
@-webkit-keyframes blink {
  0% {
         background-color: rgba(0,255,0,1)
  }
  50% {
         background-color: rgba(0,255,0,0.5)
  }
  100% {
         background-color: rgba(0,255,0,1)
  }
}

.wrapper__background{
  color: #999999;
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: -100;
}