

body{
  background-color: white;
  min-height: 200vh;
}

.navbar{
  width: 100%;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.74);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  --bs-bg-opacity: .5;
  height: 15vh;
  padding: 40px;
  position: absolute;
}

.navbar-brand{
  font-size: 38px;
  font-weight: bold;
  color: #2949c7 !important;
}

button.btn-shadow{
  min-height: 60px;
  padding: 10px 35px;
  box-shadow: 0 15px 30px -10px #3858d6;
  background-color: #3656d4;
}

.nav-menu{
  margin:  0 30px;
}

li.nav-item{
  padding: 10px 40px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.nav-item a{
  color: #7f8ca1 !important;
}

/* Section */
#info-section{
  padding:30px;
}

#info-section .info-section-container{
  padding:30px;
}

#info-section .col-section h1{
  font-size: 100px;
  color: #1f3e72;
  font-weight: bold;
  width: 90%;
}

.text-info-column{
  position: relative;
  margin-top: 80px;
}

.badge-container{
  padding: 30px;
}

.badge-background{
  width: 15px;
  height: 15px;
  padding: 15px !important;
  
  padding: 0;
  position: relative;
  border-radius: 20%;
}

.badge-background i{
  height: 1.7em;
}

.badge-text-box{
  position: relative;
  padding: 0 !important;
}

.badge-text{
  padding: 0;
  color: #1f3e72;
  font-size: 20px;
  width: 90%;
  font-weight: bold;
}

.badge-background .bi{
  font-size: 20px;
}

.badge-background.badge-yellow{
  background: #faf76521;
  box-shadow: 0 10px 10px -7px #e9e512d2;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(248, 249, 252, 0.3);
}

.badge-background.badge-yellow .bi{
  color: rgb(255, 193, 7);
}

.badge-background.badge-blue{
  background: #4935fa1c;
  box-shadow: 0 10px 25px -7px #1d05fd;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(248, 249, 252, 0.3);
}

.badge-background.badge-blue .bi{
  color: #4764d4;
}

.center-parent{
  position: relative;
}

.center{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}


.floating-info{
  width:75vw;
  background: white;
  border-radius: 25px;
  margin:0 !important;
  position: absolute;
  bottom: 23%;
  padding: 15px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.74);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.floating-info .col-3{
  padding:10px !important;
}

.floating-info .badge-container{
  margin: 0 !important;
  padding: 5px !important;
}

.selected-info{
  /* font-size: 20px; */
  /* padding-left: 40px; */
  font-weight: bold;
}

/* -------------------- */
#why-section{
  padding:30px;
}
#why-section .why-section-container{
  padding: 30px;
}

#why-section .why-section-container .why-section-header{
  font-size: 50px;
  color: #1f3e72;
  font-weight: bold;
  width: 90%;
}
#why-section .why-section-container .why-section-info{
  font-size: 30px;
  color: #6d7b93;
  width: 90%;
}

.card-container{
  padding: 0 20px;
}

.card{
  height: 100%;
  padding: 30px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.71);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  border: 1px solid rgba(255, 255, 255, 0.54);
}

.card .badge-background{
  width: 70px;
  height: 70px;
  padding: 15px !important;
  
  position: relative;
  border-radius: 20%;
  border: 1px solid white;
  box-shadow:none;

    /* From https://css.glass */
  background: rgba(122, 160, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  border: 1px solid rgba(122, 160, 255, 0.54);
}

.card .badge-background i{
  font-size: 30px;

}

.card .card-header{
  background: white;
  font-size: 40px;
  color: #1f3e72;
  padding-top: 15px;
  width: 100%;
  border: none;
  padding-bottom: 15px;
}

.card .card-info{
  background: white;
  font-weight: normal;
  color: #6d7b93;
  font-size: 20px;
}

/* Preparations section */

#preparations-section{
  margin-top: 100px;
}

#preparations-section .preparations-section-container .preparations-section-header{
  font-size: 50px;
  color: #1f3e72;
  font-weight: bold;
  width: 100%;
}

#preparations-section .preparations-section-container .preparations-section-info{
  font-size: 30px;
  color: #6d7b93;
  width: 90%;
}

.accordion-item {
  border:none;
  margin: 15px;
  box-shadow: 0 2px 12px -7px #818181;
}

.accordion-item .accordion-button{
  border-radius: 5px !important;
  font-size: 30px;
  color: #6d7b93;
  border: 1px rgb(207, 206, 206)7b93 solid;
}

.accordion-item .accordion-button:focus {
  box-shadow: none;
  border: 1px rgb(197, 195, 195)7b93 solid;
}

.accordion-button:not(.collapsed){
  background-color: white;
}

.accordion-button:after{
  width: 1.75rem;
  height: 1.75rem;
  background-position:center;
  background-color: rgba(209, 211, 255, 0.29);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(209, 211, 255, 0.59);
}

/* Emergency section */

#emergency-section{
  margin-top: 100px;
}

#emergency-section .emergency-section-container .column-image img{
  margin-top: 100px;
  position: relative;
  float: right;
}

#emergency-section .emergency-section-container .column-text{
  padding-left: 100px;
}

#emergency-section .emergency-section-container .emergency-section-header{
  font-size: 50px;
  color: #1f3e72;
  font-weight: bold;
  width: 100%;
}

#emergency-section .emergency-section-container .emergency-section-info{
  font-size: 30px;
  color: #6d7b93;
  width: 90%;
}